<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated shipyardV4Opt -->
      <package
            uri="http://jku.bise.at/shipyardV4"
            class="shipyardV4.ShipyardV4Package"
            genModel="model/shipyardV4Opt.genmodel"/>
   </extension>

</plugin>
